body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199, 106, 199);
    padding: 1rem;
}



.homepage button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(86, 0, 86);
    text-decoration: none;
    border: 1.5px solid rgb(86, 0, 86);
    border-radius: 70px 20px 20px 70px;
    text-align: center;
    margin: 10px 0;
}

.homepage:hover button {
    background-color: rgb(156, 85, 210);
    color: black;
    border: 1.5px solid rgb(0, 0, 0);
}
header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header .navbar ul li {
    display: inline;
}

header .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header .navbar ul li a:hover {
    color: black;
}


.doctor-schedule {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.doctor-shedule h1{
    font-size: 2rem;
    color: rgb(86, 0, 86);
    margin-bottom: 1rem;
    align-items: center;
}
.doctor-shedule table{
    width:80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
   
}
.doctor-schedule th, .doctor-schedule td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;

}

.doctor-schedule th {
    background-color: rgb(86, 0, 86);
    color: white;
}

.headline-box {
    background-color: rgb(86, 0, 86);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.channel-doctor{
    margin-bottom: 2rem;
}

.channel-doctor h2{
    text-align: center;
}
.channel-doctor form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 50px 5px rgb(86, 0, 86);
    max-width: 600px;
    margin: 0 auto;
}

.channel-doctor label {
    font-size: 1.2rem;
    color: #333;
}

.channel-doctor input, .channel-doctor select, .channel-doctor button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.channel-doctor button {
    background-color: rgb(86, 0, 86);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.channel-doctor button:hover {
    background-color: rgb(156, 85, 210);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(221, 109, 221);
    color: white;
}
