:root {
    --main-colour: rgb(51, 0, 51);
    --second-colour: rgb(118, 0, 118);
    --third-colour: rgb(234, 0, 234);
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: violet;
    height: 6rem;
}

header h1 {
    color: black;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 1rem;
}

.home {
    display: flex;
    align-self: flex-start;
    text-decoration: none;
}

.home button {
    background-color: var(--main-colour);
    color: white;
    border: 1px solid var(--main-colour);
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border-radius: 20px 5px 5px 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: -25rem;
}

.home button:hover {
    background-color: var(--second-colour);
    border: 1px solid var(--main-colour);
    color: var(--main-colour);
    font-weight: 800;
}

.logo {
    display: block;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.EC {
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28rem;
}

.EC video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    z-index: -1;
}

.leftec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 20rem;
    background-color: var(--main-colour);
    z-index: 1;
    margin-top: -24rem;
    flex-direction: column;
}

.leftec p {
    z-index: inherit;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
}

.leftec h1 {
    line-height: 0.1rem;
    z-index: inherit;
    color: var(--third-colour);
    font-size: 2rem;
    font-weight: 800;
    margin-left: 1rem;
}

.leftec h1:hover {
    color: green;
    font-size: 2.2rem;
    transition: 0.2s ease-in-out;
}

.rightec {
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-top: -20rem;
    margin-left: 55rem;
    z-index: 1;
}

.rightec img {
    z-index: inherit;
    ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second h1{
    color: black;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.ss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    flex-direction: row;
    gap: 2rem;
}

.secondleft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15rem;
    width: 25rem;
    height: 12rem;
}

.secondleft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 5px;
}

.secondright {
    margin-right: -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 20rem;
    background-color: var(--second-colour);
}

.secondright p {
    z-index: inherit;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third h2 {
    color: black;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
    text-decoration: underline;
}

.gg {
    margin-top: 2rem;
    gap: 2rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gg .ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 15rem;
    background-color: var(--third-colour);
    border-radius: 20px;
    border: 3px solid;
}
