html {
    font-size: 62.5%;
    overflow-x: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(156, 97, 212);
}

.header {
    align-items: center;
    justify-content: space-between;
        width: 100%;
    padding: 5%;
}


.homepage button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(86, 0, 86);
    text-decoration: none;
    border: 1.5px solid rgb(86, 0, 86);
    border-radius: 70px 20px 20px 70px;
    text-align: center;
    margin: 10px 0;
}

.homepage:hover button {
    background-color: rgb(156, 85, 210);
    color: black;
    border: 1.5px solid rgb(0, 0, 0);
}

.section1 {
    margin: 20px 0;
    text-align: center;
}

.section1 h1 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.section1-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.section1-2 .right,
.section1-2 .left {
    flex: 1;
    margin: 10px;
}

.section1-2 .right img {
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section1-2 .right img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section1-2 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-2 .left p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.left p {
    color: white;
    line-height: 2rem;
    font-size: 4rem;
    font-weight: bold;
    
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(126, 35, 142);
    color: white;
}